<h1> Hogwarts Students</h1>
<form action="/students/new" method="get">
<input type="submit" value="Add a new student" />
</form>
<% for student in @students %>
<p>Name: <%= student.pretty_name()  %></p>
<p>House: <%= student.house_id() %></p>
<p>Age: <%= student.age() %></p>

<form action="/students/<%= student.id  %>" method="get">
<input type="submit" value="Show details" />
</form>
<hr/>
<% end %>