<h1>Add a new student</h1>

<form action="/students" method="post">
  <p>
    <label>
      First name: 
      <input type="text"  name="first_name"/>
    </label>
  </p>

  <p>
    <label>
      Second name: 
      <input type="text"  name="second_name"/>
    </label>
  </p>

  <label>
    House:
    <select name="house_id">
      <option value="1">Gryffindor</option>
      <option value="2">Slytherin</option>
      <option value="3">Hufflepuff</option>
      <option value="4">Ravenclaw</option>
    </select>
    </label>
  </p>

  <p>
    <label>
      Age: 
      <input type="number"  name="age"/>
    </label>
  </p>

  <input type="submit" value="Add"/>

</form>